<footer>

</footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/javascripts/validator.min.js"></script>
<script src="/javascripts/imgpicker.min.js"></script>
<script src="/javascripts/common.js"></script>
<% if(asChat){%>
<script src="/javascripts/jstree.min.js"></script>
<script src="/javascripts/jstree/jstree.contextmenu.js"></script>
<script src="/javascripts/jstree/jstree.types.js"></script>
<script src="/javascripts/chat.js"></script>
<script src="/javascripts/growl.min.js"></script>
<%}%>
</body>
</html>