<!DOCTYPE html>
<html>
<head>
	<title>Slider Communicator</title>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" />
	<link rel='stylesheet' href='/stylesheets/style.css' />
	<link rel="stylesheet" href="/stylesheets/themes/proton/style.css" />
	<link rel="stylesheet" href="/stylesheets/image-picker.css" />
</head>
<body>