<%include ../header.ejs%>
	<div class="container">
	<div class="row">
		<div class="container">
		<div class="col-md-3 user-list">
			<h3>Connected Users</h3>
			<ul id="contact-list">

			</ul>
		</div>
			<div class="col-md-8">
			<div class="row">
					<div class="panel panel-default">
						<div class="panel-heading">Slider Communicator</div>
						<div class="panel-body chatbox">
							<ul class="chat" id="chatbox"></ul>
						</div>
						<div class="panel-footer">
							<input type="text" id="msg" maxlength="100"/>
							<button id="msg-btn" class="btn btn-primary">Submit</button>
						</div>
					</div>
			</div>

		</div>
	</div>
	</div>
	</div>
<%include ../footer.ejs%>

